.c-panel {
    background-color: getColor('azul',3);
    padding:getPadding("3");
    margin:10px;
    border: getBorderWidth(5) solid;
    border-color: darken(getColor('rojo',1), 30%);
    box-shadow: getBoxShadow(4);
    display: flex;
    flex-direction: row;    
    display: l-flex;
    flex-direction: l-flex--direction-row;

    &--sucess {
        background-color: getColor('rojo',5);
        border-color: lighten( getColor('rojo',5),30%);
        
    }
    &__titulo {
        background-color: getColor('azul',1);
        &--sucess {
            background-color: getColor('rojo',5);
        }
    }
    &__contenido {
        background-color: getColor('rojo',1);
        &--success {
            background-color: getColor('rojo',5);
        }
    }
}
#page {
    display: grid;
    grid-template-areas:
      "head head"
      "nav  main"
      "nav  foot";
    grid-template: 50px 1fr 30px /150px 1fr;
  }
  